<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.4/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form th:action="@{/users/signup}" 0 method="post">
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group">
            <label for="inputUsername">id</label>
            <input type="text" class="form-control" id="inputUsername" name="username" placeholder="아이디">
        </div>
        <div class="form-group">
            <label for="inputPassword">password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="비밀번호">
        </div>
        <div class="form-group">
            <label for="inputPassword2">password</label>
            <input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="비밀번호">
        </div>
        <div class="form-group">
            <label for="inputPhone">phone</label>
            <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="전화번호">
        </div>
        <div class="form-group">
            <label for="inputEmail">email</label>
            <input type="text" class="form-control" id="inputEmail" name="email" placeholder="이메일">
        </div>
        <!-- Hidden input field for userCreated -->
        <input type="hidden" id="inputUserCreated" name="userCreated" th:value="${userCreated}">
        <!-- state는 기본값으로 active를 설정 -->
        <input type="hidden" id="inputuserState" name="userState" value="active">
        <input type="hidden" id="inputRole" name="role" value="MEMBER">
        <button type="submit" class="btn btn-primary">가입 완료</button>
    </div>
</form>
</body>
</html>